body {    
    background:#e6e7eb;
}
head {
    display: block;
    width: 100%;
}
head::after {
    content: "This website doesn't exist.";
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}
head::before {
    display: block;
    width: 600px;
    height: 400px;
    content: '';
    background-image: url(flower.jpg);
    background-size: contain;
    margin: 10vh auto 0 auto;
}